{% extends 'shop/base.html' %}

{% block content %}
    <h1>Cart</h1>
    {% if cart.products.exists %}
        <table class="table cart-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Price</th>
            </tr>
            </thead>
            <tbody class="cart-body">
            {% for product in cart.products.all %}
                <tr class="cart-product">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href={{ product.get_absolute_url }}>{{ product.title }} </a>
                        {% include 'carts/snippets/remove-product.html' with product_id=product.id%}
                    </td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="cart-item-remove-form" style="display: none">
            {% include 'carts/snippets/remove-product.html' with product_id=product.id%}
        </div>
        <h4>Total price:$<span class="cart-total">{{ cart.total }}</span></h4>
        <a href="{% url 'carts:checkout' %}" class="btn btn-block btn-success col-3">Checkout</a>
    {% else %}
        cart is empty
    {% endif %}
{% endblock %}