{% url 'home' as home_url %}
{% url 'contacts' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'carts:home' as cart_url %}
{% url 'logout' as logout_url %}
{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="#">
            <img src="{% static 'shop/my_logo_new.png' %}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            SuppppperSHOP
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link {% if request.path == home_url %} active {% endif %}"
                       href="{{ home_url }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == contact_url %} active {% endif %}"
                       href="{{ contact_url }}">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == product_list_url %} active {% endif %}"
                       href="{{ product_list_url }}">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == product_list_url %} active {% endif %}"
                       href="{{ cart_url }}">
                        <i class="fa fa-shopping-cart"> </i><span class="navbar-cart-count">{{ request.session.cart_items }}</span>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == logout_url %} active {% endif %}"
                           href="{{ logout_url }}">
                            Logout
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %} active {% endif %}"
                           href="{{ login_url }}">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">
                            Register
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% include 'search/snippets/search-form.html' %}
        </div>
    </div>
</nav>