{% extends 'shop/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-8 md-col-12">
            <h1>{{ object.title }}</h1>
            {{ object.timestamp|time }}
            {{ object.description|linebreaks }}
            <br>
            {% if object.image %}
                <img src="{{ object.image.url }}" class="image-thumbnail" alt='{{ object.slug }}' style="height: 10rem">
            {% endif %}
        </div>
        <div class="col-4 md-col-12">
            {% include 'shop/snippets/update_card.html' with product=object cart=cart %}
        </div>
    </div>
{% endblock %}
